/* All/Header Styling */
* {
    font-family: 'Lato', sans-serif;
}

h1 {
    position: static;
    color: black;
    text-align: center;
    text-decoration: underline;
}

h2 {
    color: rgb(100, 20, 230);
    text-align: center;
}

h3 {
    color: #ff1030;
}

body {
    background-color: hsl(0, 100%, 95%);
}

img[src="media/red_panda.jpeg"] {
    position: relative;
    left: 25%;
    width: 50%;
}